
#input-matricula{
    width: 25%;
}
#input-nome{
    width: 68%;
}
#input-cpf{
    width: 25%;
}
#input-email{
    width: 68%;
}
#input-login{
    width: 25%;
}
#input-perfil{
    width: 25%;
}
#input-regional{
    width: 40%;
}
