<app-spinner [loading]="loading"></app-spinner>
<div [hidden]="loading">
  <app-header></app-header>
  <div style="text-align: left;" class="pagina">
    <form autocomplete="off" #f="ngForm" (ngSubmit)="pesquisar()">
      <mat-form-field class="input-filtro">
        <mat-label>Regional</mat-label>
        <mat-select name="regionalFilter" [(ngModel)]="filter.idRegional"
          required>
          <mat-option *ngFor="let regional of listaRegionalCarregado" [value]="regional.value">
            {{regional.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-filtro">
        <mat-label>Tipo Veiculo</mat-label>
        <mat-select name="categoriaVeiculoFilter" [(ngModel)]="filter.idCategoriaVeiculo">
          <mat-option *ngFor="let categoriaVeiculo of listaCategoriaVeiculoCarregado" [value]="categoriaVeiculo.value">
            {{categoriaVeiculo.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field id="input-referencia" class="input-modal">
        <mat-label>Placa</mat-label>
        <input name="admissaoCad"  maxlength="7" matInput
          #input [(ngModel)]="filter.placa" (ngModelChange)="filter.placa = $event.toUpperCase()" >
      </mat-form-field>

      <mat-form-field class="input-filtro" style="width: 100px !important;">
        <mat-label>Situacao</mat-label>
        <mat-select name="ativoFilter" [(ngModel)]="filter.ativo" required>
          <mat-option *ngFor="let situacao of listaSituacaoCarregado" [value]="situacao.value">
            {{situacao.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button  color="primary" mat-raised-button type="button" (click)="limparFiltro()">Limpar</button>
      <button  color="primary" mat-raised-button type="submit" [disabled]="!f.valid">Pesquisar</button>
      <button  color="primary" mat-raised-button type="button" (click)="novo()">Novo</button>
    </form>
  </div>

  <div class="mat-elevation-z8" id="div-tab">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef> PLACA </th>
        <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
      </ng-container>
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>MODELO</th>
        <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
      </ng-container>
      <ng-container matColumnDef="cor">
        <th mat-header-cell *matHeaderCellDef>COR</th>
        <td mat-cell *matCellDef="let element"> {{element.cor}} </td>
      </ng-container>
      <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef>ANO</th>
        <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
      </ng-container>
      <ng-container matColumnDef="colaborador">
        <th mat-header-cell *matHeaderCellDef>RESPONSAVEL</th>
        <td mat-cell *matCellDef="let element"> {{element.colaborador.nome}} </td>
      </ng-container>
      <ng-container matColumnDef="categoriaVeiculo">
        <th mat-header-cell *matHeaderCellDef> CATEGORIA</th>
        <td mat-cell *matCellDef="let element"> {{element.categoriaVeiculo.nome}} </td>
      </ng-container>
      <ng-container matColumnDef="vencimento-doc">
        <th mat-header-cell *matHeaderCellDef> VENCIMENTO DOC</th>
        <td mat-cell *matCellDef="let element">{{element.dataVencimentoDoc | date:'MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="opcao">
        <th mat-header-cell *matHeaderCellDef> OPCAO </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn-opcao" color="primary" matTooltip="Alterar" matTooltipPosition="left"
            (click)="editar(element)" *ngIf="element.ativo == 1">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="btn-opcao" (click)="confirmDialog(element)"
            matTooltip="{{element.ativo == 1 ? 'Desativar':'Ativar'}}" matTooltipPosition="left">
            <mat-icon *ngIf="element.ativo == 1 ? false: true">done_outline</mat-icon>
            <mat-icon *ngIf="element.ativo == 0 ? false: true">close</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>