.mat-column-placa {
    width: 10%;
}

.mat-column-modelo {
    width: 20%;
}

.mat-column-cor {
    width: 8%;
}

.mat-column-ano {
    width: 5%;
}

.mat-column-categoriaVeiculo {
    width: 10%;
}

.mat-column-dataVencimento {
    width: 10%;
}

.mat-column-colaborador {
    width: 27%;
}

.mat-column-opcao {
    width: 10%;
}
