.mat-column-empresa {
    width: 15%;
}

.mat-column-nome {
    width: 15%;
}

.mat-column-gerente {
    width: 25%;
}

.mat-column-email {
    width: 25%;
}

// .mat-column-dataInicio {
//     width: 10%;
// }

// .mat-column-dataFim {
//     width: 10%;
// }

.mat-column-situacao {
    width: 10%;
}

.mat-column-opcao {
    width: 10%;
}