#input-matricula{
    width: 20%;
}

#input-nome{
    width: 74%;
}

#input-cpf{
    width: 20%;
}

#input-nascimento{
    width: 35%;
}

#input-admissao{
    width: 36%;
}

#input-cnh{
    width: 35%;
}

#drop-categoria-cnh{
    width: 28%;
}

#input-validade-cnh{
    width: 31%;
}

#drop-regional{
    width: 47%;
}
#drop-localidade{
    width: 47%;
}