#input-codigo{
    width: 15%;
}

#input-colaborador{
    width: 30%;
}

#input-placa{
    width: 15%;
}

#input-local{
    width: 30%;
}

#input-usuario{
    width: 50%;
}

#input-ocorrencia{
    width: 23%;
}

// 

.mat-column-enunciado {
    width: 30%;
}

.mat-column-resposta {
    width: 30%;
}

.mat-column-nconf {
    width: 15%;
}

.mat-column-opcao {
    width: 10%;
}


#assinatura{
    transform: rotate(-80deg) !important;
    margin-left: 40%;
}

