#button-add{
    margin: 10px 0 2px 10px;
}

.mat-column-matricula {
    width: 15%;
}

.mat-column-nome {
    width: 25%;
}

.mat-column-cpf {
    width: 15%;
}

.mat-column-cnh {
    width: 20%;
}

.mat-column-categoriaCnh {
    width: 10%;
}

.mat-column-opcao {
    width: 25%;
}