#input-ref {
    width: 8%;
}

.mat-column-codigo {
    width: 10%;
}

.mat-column-colaborador {
    width: 25%;
}

.mat-column-placa {
    width: 8%;
}

.mat-column-imovel {
    width: 25%;
}

.mat-column-data-solicitacao {
    width: 10%;
}

.mat-column-data-programada {
    width: 10%;
}

.mat-column-avulsa {
    width: 5%;
}

.mat-column-opcao {
    width: 15%;
}