.mat-column-select {
    width: 5%;
}

.mat-column-nome {
    width: 25%;
}

.mat-column-bairro {
    width: 12%;
}

.mat-column-logradouro {
    width: 25%;
}

.mat-column-complemento {
    width: 27%;
}