.mat-column-cpf {
    width: 15%;
}

.mat-column-nome {
    width: 25%;
}

.mat-column-email {
    width: 25%;
}

.mat-column-perfil {
    width: 15%;
}

.mat-column-situacao {
    width: 10%;
}

.mat-column-opcao {
    width: 10%;
}
