.home {
    margin: 20px;
    color: #636fbe;
}
.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.home .subtitle {
    font-size: 1.1rem;
    color: rgba(99, 111, 190, 0.6);
}