#input-ref {
    width: 8%;
}

.mat-column-codigo {
    width: 10%;
}

.mat-column-colaborador {
    width: 20%;
}

.mat-column-placa {
    width: 8%;
}
.mat-column-imovel {
    width: 15%;
}

.mat-column-data-execucao {
    width: 8%;
}

.mat-column-usuario {
    width: 20%;
}

.mat-column-racp {
    width: 8%;
}

.mat-column-opcao {
    width: 20%;
}