<h1  style="margin-bottom: 15px;" mat-dialog-title>{{titulo}}</h1>
<div style="text-align: left;">
    <form autocomplete="off" #f="ngForm">
        <div mat-dialog-content>
            <mat-form-field  class="input-modal"  id="input-contrato" >
                <mat-label>Contrato</mat-label>
                <mat-select name="contrato" [(ngModel)]="contrato.id" required>
                    <mat-option *ngFor="let contrato of listaContratoCarregado" [value]="contrato.value">
                        {{contrato.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field  class="input-modal"  id="input-categoria" >
                <mat-label>Categoria</mat-label>
                <mat-select name="categoria" [(ngModel)]="categoriaTipoServico.id" required>
                    <mat-option *ngFor="let categoria of listaCategoriaTipoServico" [value]="categoria.value">
                        {{categoria.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field id="input-nome" class="input-modal">
                <mat-label>Nome</mat-label>
                <input name="nome" matInput #input [(ngModel)]="data.nome" (ngModelChange)="data.nome = $event.toUpperCase()"
                maxlength="200" required>
            </mat-form-field>

            <mat-form-field id="input-agendamento" class="input-modal">
                <mat-label>N° Dias Agendamento</mat-label>
                <input name="diasExec." matInput #input type="number" [(ngModel)]="data.numDiasAgendamento"  min="0" maxlength="3" 
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required>
            </mat-form-field>

        </div>
        <div mat-dialog-actions>
            <button  color="primary" mat-raised-button (click)="montarObj()" [mat-dialog-close]="data"  [disabled]="!f.valid">Confirmar</button>
            <button  color="primary" mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
        </div> 
    </form>

</div>