.mat-column-codigoRacp {
    width: 10%;
}

.mat-column-codigoServico {
    width: 10%;
}
.mat-column-colaborador {
    width: 20%;
}
.mat-column-placa {
    width: 10%;
}

.mat-column-imovel {
    width: 20%;
}

.mat-column-dataGerada {
    width: 10%;
}

.mat-column-dataExecucao {
    width: 10%;
}

.mat-column-opcao {
    width: 10%;
}