
#input-nome{
    width: 47%;
}
#input-nome-fantasia{
    width: 47%;
}
#input-cnpj{
    width: 20%;
}
#input-cidade{
    width: 35%;
}
#input-bairro{
    width: 35%;
}
#input-endereco{
    width: 60%;
}
#input-insc-municipal{
    width: 33%;
}