.mat-column-select {
    width: 2%;
}
.mat-column-codigo {
    width: 7%;
}
.mat-column-nomecolaborador {
    width: 20%;
}
.mat-column-datasolicitacao {
    width: 4%;
}
.mat-column-dataprogramada {
    width: 4%;
}
.mat-column-nomeusuario {
    width: 15%;
}
.mat-column-flagasossiado {
    width: 7%;
}
.mat-column-opcao {
    width: 7%;
}